.hiker-image{
    width: 100%;
    opacity: 0.9;
    object-fit: cover;
}

@media (max-width: 767px) {
    .hiker-image {
        height: 400px; 
        opacity: 0.9;
    }
}


@media (min-width: 1150px) {
    .hiker-image {
        height: 620px;
        opacity: 0.9;
    }
}


main{
    /* margin-top: 10%; */
}

.resource-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-link{
    text-decoration: none;
    
}



/* carousel #2 */
/* 
.carousel-images{
    
} */

@media (max-width: 1000px) {
    .carousel-images {
        height: 400px; 
        
    }
}

@media (max-width: 700px) {
    .carousel-images {
        height: 300px; 
        
    }
}


@media (max-width: 500px) {
    .carousel-images {
        height: 150px; 
        
    }
}





/* Video Game */

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.4s linear;
}
@keyframes jump{
    0%{top: 150px;}
    15%{top: 70px;}
    30%{top: 20px;}
    70%{top: 20px;}
    85%{top: 70px;}
    95%{top: 120px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 0.5s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}